.latest-product {
    width: auto;
    max-width: 1000px;
    margin: 0 auto; 
}

.latest-product__header {
    display: flex;
    justify-content: space-between;
    /* background-color: red; */
}
.product-list{
    display: flex;
    gap: 2rem;
}
